<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lwzw.cloud.dao.ShareMapper" >
  <resultMap id="BaseResultMap" type="com.lwzw.cloud.bean.Share" >
    <id column="sid" property="sid" jdbcType="INTEGER" />
    <result column="fid" property="fid" jdbcType="INTEGER" />
    <result column="touid" property="touid" jdbcType="INTEGER" />
    <result column="fromuid" property="fromuid" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="isread" property="isread" jdbcType="INTEGER" />
    <result column="sharedate" property="sharedate" jdbcType="TIMESTAMP" />
    <result column="likes" property="likes" jdbcType="INTEGER"/>
    <result column="dislikes" property="dislikes" jdbcType="INTEGER"/>
    <result column="ranks" property="ranks" jdbcType="INTEGER"/>
  </resultMap>
  <sql id="Base_Column_List" >
    sid, fid, touid, fromuid, status, code, isread, sharedate,likes,dislikes,ranks
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from share
    where sid = #{sid,jdbcType=INTEGER}
  </select>
  <select id="selectByFromAndToUid" resultType="com.lwzw.cloud.bean.viewObject.ShareMessageViewObject">
    select
           s.sid,f.fid,uf.name as fileName,f.size as fileSize,u.nickname as shareUsername,s.sharedate as shareDate
    from
         share s,user u,ufile uf,file f
    where
            ((fromuid = #{from} and touid = #{to}) or (fromuid = #{to} and touid = #{from})) and s.fromuid=u.uid and s.fid=uf.ufid and uf.fid = f.fid
  </select>
  <select id="selectCommonShare" resultType="com.lwzw.cloud.bean.viewObject.CommonShareViewObject">
    select
           s.sid,u.nickname,uf.name as fileName,s.ranks,s.sharedate as shareDate
    from
         share as s,ufile as uf,user as u
    where
        s.fid = uf.ufid and s.fromuid = u.uid and s.status = 0
  </select>
  <select id="selectShareDetail" resultType="com.lwzw.cloud.bean.viewObject.ShareDetailViewObject">
    select
           s.sid,s.fromuid as upid,u.nickname as shareUser,uf.name as fileName,s.sharedate as shareDate,s.likes,s.dislikes,s.ranks
    from
         user u, ufile uf,share s
    where
        s.status=0 and  s.fid=uf.ufid and s.fromuid = u.uid
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete
    from
         share
    where
         sid = #{sid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lwzw.cloud.bean.Share" >
    insert into share (sid, fid, touid, 
      fromuid, status, code, 
      isread, sharedate,likes,dislikes,ranks)
    values (#{sid,jdbcType=INTEGER}, #{fid,jdbcType=INTEGER}, #{touid,jdbcType=INTEGER}, 
      #{fromuid,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, 
      #{isread,jdbcType=INTEGER}, #{sharedate,jdbcType=TIMESTAMP}, #{likes,jdbcType=INTEGER}, #{dislikes,jdbcType=INTEGER}, #{ranks,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.lwzw.cloud.bean.Share" >
    insert into share
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        sid,
      </if>
      <if test="fid != null" >
        fid,
      </if>
      <if test="touid != null" >
        touid,
      </if>
      <if test="fromuid != null" >
        fromuid,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="isread != null" >
        isread,
      </if>
      <if test="sharedate != null" >
        sharedate,
      </if>
      <if test="likes != null" >
        likes,
      </if>
      <if test="dislikes != null" >
        dislikes,
      </if>
      <if test="ranks != null" >
        ranks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="fid != null" >
        #{fid,jdbcType=INTEGER},
      </if>
      <if test="touid != null" >
        #{touid,jdbcType=INTEGER},
      </if>
      <if test="fromuid != null" >
        #{fromuid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="isread != null" >
        #{isread,jdbcType=INTEGER},
      </if>
      <if test="sharedate != null" >
        #{sharedate,jdbcType=TIMESTAMP},
      </if>
      <if test="likes != null" >
        #{likes,jdbcType=INTEGER},
      </if>
      <if test="dislikes != null" >
        #{dislikes,jdbcType=INTEGER},
      </if>
      <if test="ranks != null" >
        #{ranks,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lwzw.cloud.bean.Share" >
    update share
    <set >
      <if test="fid != null" >
        fid = #{fid,jdbcType=INTEGER},
      </if>
      <if test="touid != null" >
        touid = #{touid,jdbcType=INTEGER},
      </if>
      <if test="fromuid != null" >
        fromuid = #{fromuid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="isread != null" >
        isread = #{isread,jdbcType=INTEGER},
      </if>
      <if test="sharedate != null" >
        sharedate = #{sharedate,jdbcType=TIMESTAMP},
      </if>
      <if test="likes != null" >
        likes = #{likes,jdbcType=INTEGER},
      </if>
      <if test="dislikes != null" >
        dislikes = #{dislikes,jdbcType=INTEGER},
      </if>
      <if test="ranks != null" >
        ranks = #{ranks,jdbcType=INTEGER},
      </if>
    </set>
    where sid = #{sid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lwzw.cloud.bean.Share" >
    update
      share
    set
      fid = #{fid,jdbcType=INTEGER},
      touid = #{touid,jdbcType=INTEGER},
      fromuid = #{fromuid,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      code = #{code,jdbcType=VARCHAR},
      isread = #{isread,jdbcType=INTEGER},
      sharedate = #{sharedate,jdbcType=TIMESTAMP}
    where
      sid = #{sid,jdbcType=INTEGER}
  </update>
</mapper>